name: ios_webview
description: A new Flutter webview project.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_inappwebview: ^6.0.0 # The tool that displays your website

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
